.root {
  -fx-background-color: #6B6C6A;
}

.gridpane {
  -fx-background-color: rgba(33, 37, 43);
}

.button {
  -fx-background-color: #21252B;
  -fx-text-fill: #FFF;
  -fx-font-size: 16;
}

.button-menu {
  -fx-background-color: #21252B;
  -fx-text-fill: #FFF;
  -fx-font-size: 16;
}

.button-menu:hover {
  -fx-text-fill: #FFF;

  -fx-border-color: #619F81;
  -fx-border-width: 3 3 3 0;
  -fx-border-radius: 0 25 25 0;
  -fx-border-style: dashed;

  -fx-background-radius: 0 25 25 0;
}

.button-active {
  -fx-border-style: dashed;
  -fx-border-color: #619F81;
  -fx-border-width: 3 3 3 0;
  -fx-border-radius: 0 25 25 0;
  -fx-background-radius: 0 25 25 0;

  -fx-text-fill: #FFF;
  -fx-font-size: 16;
  -fx-font-weight: bold;

  -fx-padding: 0 60 0 0;
}

.button-crop {
  -fx-background-color: #21252B;
  -fx-border-radius: 50;
  -fx-border-color: #619F81;
  -fx-border-width: 3;
}

.button-crop:pressed {
  -fx-background-color: #619F81;
  -fx-border-radius: 50;
  -fx-border-color: #619F81;
  -fx-border-width: 3;
}

.title {
  -fx-font-size: 24;
  -fx-text-fill: #619F81;
  -fx-padding: 20 60 20 20;
  -fx-font-family: Segoe UI;
  -fx-font-weight: bold;
}

.list {
    -fx-selection-bar: #619F81;
    -fx-selection-bar-non-focused: #619F81;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0,0.2); /* here rgba (corrected) */
}

.list:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(97,159,129,62); /* here rgba (corrected) */
}

.text-field {
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0,0.2); /* here rgba (corrected) */
    -fx-selection-bar-non-focused: #619F81;
}

.text-field:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(97,159,129,62); /* here rgba (corrected) */
    -fx-selection-bar: #619F81;
}

.text-field:selected {
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(97,159,129,62); /* here rgba (corrected) */
}

.bigGreenButton {
    -fx-background-color: #619F81;
    -fx-background-radius: 30;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.bigGreenButton:hover {
    -fx-background-color: #2F4D3E;
    -fx-cursor: hand;
}

.greenButton {
    -fx-background-color: #619F81;
    -fx-background-radius: 25;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.greenButton:hover {
    -fx-background-color: #2F4D3E;
    -fx-cursor: hand;
}

.greenButtonPanel {
    -fx-background-color: #619F81;
    -fx-background-radius: 10;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.greenButtonPanel:hover {
    -fx-background-color: #2F4D3E;
    -fx-cursor: hand;
}

.greenButtonSquare {
    -fx-background-color: #619F81;
    -fx-background-radius: 5;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.greenButtonSquare:hover {
    -fx-background-color: #2F4D3E;
    -fx-cursor: hand;
}

.redButton {
    -fx-background-color: #FF5E6F;
    -fx-background-radius: 25;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.redButton:hover {
    -fx-background-color: #DC4854;
    -fx-cursor: hand;
}

.bigGrayButton {
    -fx-background-color: #eee;
    -fx-background-radius: 30;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.bigGrayButton:hover {
    -fx-background-color: #ddd;
    -fx-cursor: hand;
}

.grayButton {
    -fx-background-color: #eee;
    -fx-background-radius: 25;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.grayButton:hover {
    -fx-background-color: #ddd;
    -fx-cursor: hand;
}

.table-view{
   -fx-background-color: transparent;
   -fx-selection-bar: #619F81;
   -fx-selection-bar-non-focused: #619F81;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/*Struktur column-header-background -> column-header */
.table-view .column-header-background{
    /*-fx-background-color: linear-gradient(#21252B 0%, #525C6B 100%);*/
    -fx-background-color: #21252B;
    -fx-background-radius: 10 10 0 0;
    -fx-filler-radius: 10 10 0 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view .filler {
  -fx-background-radius: 25;
  -fx-background-color: #619F81;;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
  -fx-background-color: #619F81;
	-fx-background-insets: 2;
	-fx-background-radius: 25;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #eee;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #619F81;
    -fx-background-insets: 0;
    -fx-text-fill: #fff;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    -fx-background-radius: 25;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.30;
    -fx-border-color: none;
}